@{ 
    ViewBag.Title = "Inicio sesión";
    Layout = null;
}
@using System.Web.Optimization;
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sisuni | @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/bundles/bootstrap/css")
    <!-- iCheck -->
    <link href="~/Content/admin/css/blue.css" rel="stylesheet" />

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>Sisuni</b>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Ingresa para inscribir asignaturas</p>

            <form >
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="ID estudiante">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Contraseña">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-12">
                        @using (Html.BeginForm("index", "dash")) {

                            <button class="btn btn-primary btn-block btn-flat">ingresa</button>
                        }

                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="row">
                <p style="text-align: center;">------- O -------</p>
                <div class="col-xs-12">
                    @using (Html.BeginForm("index", "home")) {
                        <button class="btn btn-default btn-block btn-flat">Volver</button>
                    }

                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap/js")
    <script src="~/Content/admin/js/icheck.min.js"></script>

    <script>

        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>


</body>
</html>