@{
    ViewBag.Title = "Búsqueda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <!-- /.row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Lista de cursos</h3>
                                
                                <div class="box-tools">
                                    <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                                        <!-- /.box-header <input class="form-control pull-right" placeholder="Buscar">-->
                                        @Html.Editor("section", new { htmlAttributes = new { @class = "form-control pull-right", placeholder = "Buscar", type = "text", name = "table_search" } })
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>Sección</th>
                                        <th>Curso</th>
                                        <th>Créditos</th>
                                        <th>Horario</th>
                                        <th>Profesor</th>
                                        <th>Acciones</th>
                                    </tr>
                                    <tr>
                                        <td>220231</td>
                                        <td>Álgebra lineal</td>
                                        <td>6</td>
                                        <!--<td><span class="label label-success">Approved</span></td>-->
                                        <td>Lunes / 15:50 - 16:40 / M3. Martes / 13:50 - 14:40 / M2</td>
                                        <td>Orlando Pérez</td>
                                        <td>Inscribir | Vista completa</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer small text-muted">* Recuerde inscribir cursos únicamente de su carrera.</div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>

</div>
