
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="home" class="video-section js-height-full" style="height: 616px;">
    <div class="overlay"></div>
    <div class="home-text-wrapper relative container">
        <div class="home-message">
            <p>Universidad Nacional de Medicina</p>
            <small>Aplica a una de nuestras becas arancelarias y define tu futuro en una de las mejores universidades de la región.</small>
            <div class="btn-wrapper">
                <div class="text-center">
                    <a href="#" class="btn btn-primary wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">Read More</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn btn-default wow slideInRight" style="visibility: visible; animation-name: slideInRight;">Buy Now</a>
                </div>
            </div><!-- end row -->
        </div>


        <div id="video_background_video_0" style="z-index: -1; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; overflow: hidden;">
            <video width="1096" height="616" autoplay="" loop="" onended="this.play()" style="position: absolute; top: 0px; left: -10px;">
                <source src="~/Content/upload/preview.mp4" type="video/mp4">
                <source src="~/Content/upload/preview.webm" type="video/webm">
                <source src="~/Content/upload/preview.ogg" type="video/ogg">
            </video>
        </div>
    </div>
</section>

